@using MVC_CV.Models.Entity
@model List<TBL_About>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Profil Düzenleme Sayfası</h2>
<br />
<form method="post">
    @foreach (var item in Model)
    {
        <label>Ad</label>
        <input type="text" class="form-control" name="Name" value="@item.Name" class="form-control" />
        <br />
        <label>Soyad</label>
        <input type="text" class="form-control" name="Surname" value="@item.Surname" class="form-control" />
        <br />
        <label>Adres</label>
        <input type="text" class="form-control" name="Adress" value="@item.Adress" class="form-control" />
        <br />
        <label>Telefon</label>
        <input type="text" class="form-control" name="Telephone" value="@item.Telephone" class="form-control" />
        <br />
        <label>Mail Adresi</label>
        <input type="text" class="form-control" name="Mail" value="@item.Mail" class="form-control" />
        <br />
        <label>Resim</label>
        <input type="text" class="form-control" name="Resim" value="@item.Resim" class="form-control" />
        <br/>  
        <lable>Açıklama</lable>
        <textarea rows="5" class="form-control" name="Explanation">@item.Explanation</textarea>

    }
    <br />
    <button class="btn btn-success">Güncelle</button>
</form>